<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home page</h1>
    
<table border=2>
    <tr>
    <%title.forEach((obj)=>{%>
        
            <th>
        <%= obj %>
    </th>
    
        <%})%>
    <% %>    
    </tr>
    
        <%data.forEach((obj,index)=>{%>
            <tr>
                <td>
            <%= index+1 %>
        </td>
        <td>
            <%= obj.username %>
        </td>
        <td>
            <%= obj.email %>
        </td>
        <td>
            <%= obj.score %>
        </td>
    </tr>
            <%})%>
           
        
    </table>
    </body>
</html>